@import "../globals/resources.scss";

a:not(.no-underline) {
  border-bottom: 0.3rem solid var(--theme-color);
  color: inherit;
  padding-bottom: 0.25rem;
  text-decoration: none;
  overflow: visible;

  &:visited {
    color: inherit;
  }

  &:hover {
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 3rem 1rem;
    border-bottom: 0;
    text-decoration: none;
  }
}
