* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--carbon);
  font-family: var(--font-vag-rounded);
  font-size: 16px;
}

main {
  font-size: 1.7rem;
}

p {
  font-family: var(--font-vag-rounded);
}

h3 {
  font-size: 2.2rem;
}
