$colors: (
  "amarelo": "#ffff01",
  "azul": "00cce1",
  "azul-escuro": "006bff",
  "rosa": "ff61b5",
  "roxo": "7a72d2",
  "salmao": "ff8e66",
  "verde": "5ff065",
  "vermelho": "ff3732",
);

@each $name, $hex in $colors {
  [data-theme="#{$name}"] {
    --themeColor: var(--#{$name});
    a:not(.no-underline) {
      @media (hover: hover) {
        &:hover {
          // background-size: 3rem 3rem;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23#{$hex}' stroke-width='3' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
        }
      }
    }
  }
}
