@import "../../static/fonts/Daalegria/stylesheet.css";
@import "../../static/fonts/Vag/stylesheet.css";

:root {
  --font-vag-rounded: "Vag Rounded Std", sans-serif;
  
  --font-manual-basic: "Dalegria Manual Basic", helvetica, arial, sans-serif;
  --font-manual-basic-s: "Dalegria Manual Basic S", helvetica, arial, sans-serif;
  --font-manual-circo-inline: "Dalegria Manual Inline", helvetica, arial,
    sans-serif;
  --font-manual-inline-s: "Dalegria Manual Inline S", helvetica, arial,
    sans-serif;
  --font-manual-sombra: "Dalegria Manual Sombra", helvetica, arial, sans-serif;
  --font-simples-basic: "Dalegria Simples Basic", helvetica, arial, sans-serif;
  --font-simples-basic-s: "Dalegria Simples Basic S", helvetica, arial,
    sans-serif;
  --font-simples-circo: "Dalegria Simples Circo", helvetica, arial, sans-serif;
  --font-simples-inline: "Dalegria Simples Inline", helvetica, arial, sans-serif;
  --font-simples-inline-s: "Dalegria Simples Inline S", helvetica, arial,
    sans-serif;
  --font-simples-sombra: "Dalegria Simples Sombra", helvetica, arial, sans-serif;
}