:root {
  --app-height: 100vh;

  /* Colors */
  --amarelo: #ffff01;
  --azul: #00cce1; /* 0,204,225 */
  --azul-escuro: #006bff;
  --rosa: #ff61b5;
  --roxo: #7a72d2;
  --salmao: #ff8e66;
  --verde: #5ff065; /* 95,240,101 */
  --vermelho: #ff3732; /* 255,55,50 */
  --black: #000;

  /* Fonts */
  --font-vag-rounded: "Vag Rounded Std";
  --font-manual-basic: "Dalegria Manual Basic", helvetica, arial, sans-serif;
  --font-manual-basic-s: "Dalegria Manual Basic S", helvetica, arial, sans-serif;
  --font-manual-circo-inline: "Dalegria Manual Inline", helvetica, arial,
    sans-serif;
  --font-manual-inline-s: "Dalegria Manual Inline S", helvetica, arial,
    sans-serif;
  --font-manual-sombra: "Dalegria Manual Sombra", helvetica, arial, sans-serif;
  --font-simples-basic: "Dalegria Simples Basic", helvetica, arial, sans-serif;
  --font-simples-basic-s: "Dalegria Simples Basic S", helvetica, arial,
    sans-serif;
  --font-simples-circo: "Dalegria Simples Circo", helvetica, arial, sans-serif;
  --font-simples-inline: "Dalegria Simples Inline", helvetica, arial, sans-serif;
  --font-simples-inline-s: "Dalegria Simples Inline S", helvetica, arial,
    sans-serif;
  --font-simples-sombra: "Dalegria Simples Sombra", helvetica, arial, sans-serif;
}
