:root {
  --app-height: 100vh;

  /* Colors */
  --amarelo: #ffff01;
  --azul: #00cce1; /* 0,204,225 */
  --azul-escuro: #006bff;
  --rosa: #ff61b5;
  --roxo: #7a72d2;
  --salmao: #ff8e66;
  --verde: #5ff065; /* 95,240,101 */
  --vermelho: #ff3732; /* 255,55,50 */
  --black: #000;
  --carbon: #505050;

  --desktop-left-padding: 13vh;
}
