@import "../../styles/globals/resources.scss";

.rodape {
  align-self: end;
  display: flex;
  margin-top: 5rem;
  position: relative;

  @include desktop {
    position: absolute;
    left: unset;
    right: 0;
  }
}

.people {
  position: absolute;
  bottom: 0;
  max-width: 65%;
  transform: scale(1);
  transform-origin: bottom;
  transition: 0.2s ease-in-out;


  &:first-of-type {
    left: 0;
  }
  &:last-of-type {
    right: 0;
  }
  
  &[data-front="true"] {
    z-index: 1;
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.mosaic {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.overlay {
  bottom: 0;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  width: 100%;
  z-index: 2;
}