@import "../../styles/globals/resources.scss";

.rodape {
  align-self: end;
  display: flex;
  position: relative;

  @include mobile {
    margin-top: 3vh;

    *:global(#sobre-br-viver-01) & {
      margin-top: 2rem;
    }
    *:global(#troca-de-gestao-07) & {
      margin-top: 5rem;
    }
    *:global(#o-digital-e-o-novo-normal-11) & {
      margin-top: 8rem;
    }
  }

  @include desktop {
    position: absolute;
    left: unset;
    right: 0;
    width: 30%;
  }
}

.people {
  display: block;
  position: absolute;
  max-width: 65%;
  transform: scale(1);
  transform-origin: bottom;
  transition: 0.2s ease-in-out;

  &[data-unique="true"] {
    width: 100%;
    max-width: unset;
  }

  @include mobile {
    bottom: 0;

    *:global(#sobre-br-viver-01) & {
      &[data-unique="true"] {
        width: 100%;
        max-width: unset;
      }
    }

    &:first-of-type {
      left: 0;
    }

    &:last-of-type {
      right: 0;
    }

    *:global(#tem-uma-pessoa-no-hospital-que-08) & {
      &:first-of-type {
        max-width: 32rem;
      }
      &:last-of-type {
        width: 25rem;
      }
    }

    *:global(#o-digital-e-o-novo-normal-09) & {
      &:first-of-type {
        left: 2.1rem;
        height: 24.7rem;
        width: 15.4rem;
      }
      &:last-of-type {
        width: 22rem;
      }
    }

    *:global(#o-digital-e-o-novo-normal-11) & {
      &:last-of-type {
        width: 19.7;
      }
    }

    *:global(#o-digital-e-o-novo-normal-12) & {
      &:last-of-type {
        width: 21.7rem;
      }
    }

    *:global(#o-digital-e-o-novo-normal-14) & {
      &:first-of-type {
        width: 21.7rem;
      }
      &:last-of-type {
        width: 20.4rem;
      }
    }
    *:global(#festival-miolo-mole-15) & {
      &:first-of-type {
        width: 18.7rem;
      }
      &:last-of-type {
        width: 27.9rem;
      }
    }
    *:global(#impacto-br-social-23) & {
      &:first-of-type {
        left: 2rem;
        width: 18.5rem;
      }
      &:last-of-type {
        width: 17.1rem;
      }
    }
    *:global(#impacto-br-social-24) & {
      &:first-of-type {
        width: 19.8rem;
      }
      &:last-of-type {
        width: 19.7rem;
      }
    }
  }

  @include desktop {
    right: 0;

    &:first-of-type {
      bottom: 50%;
    }
    &:last-of-type {
      top: 50%;
    }

    *:global(#delivery-besteirologico-06) & {
      &:first-child {
        transform: rotate(-45deg);
      }
    }
  }

  &[data-front="true"] {
    z-index: 1;
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.mosaic {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;

  @include desktop {
    display: none;
  }
}

.overlay {
  bottom: 0;
  left: 0;
  mix-blend-mode: multiply;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 2;

  // TODO: re-incluir
  @include desktop {
    display: none;
  }
}
