@import "../../styles/globals/resources.scss";

.rodape {
  // border: 1px solid rgba(0, 0, 0, 0.1);
  align-self: end;
  display: flex;
  position: relative;

  &:empty {
    display: none;
  }

  @include mobile {
    margin-top: 3vh;

    *:global(#sobre-br-viver-01) & {
      margin-top: 2rem;
    }
    *:global(#troca-de-gestao-07) & {
      margin-top: 5rem;
    }
    *:global(#o-digital-e-o-novo-normal-11) & {
      margin-top: 8rem;
    }
  }

  @include desktop {
    position: absolute;
    left: unset;
    right: 0;
    width: 30%;

    max-width: 46rem;

    *:global(#oi-00) & {
      top: 4rem;
    }
    *:global(#sobre-br-viver-01) & {
      top: 32rem;
    }
    *:global(#spoiler-02) & {
      top: 17.4rem;
    }
    *:global(#a-c-03) & {
      top: 25.6rem;
    }
    *:global(#de-outros-carnavais-04) & {
      top: 34.9rem;
    }
    *:global(#paramos-05) & {
      top: 26.2rem;
    }
    *:global(#delivery-besteirologico-06) & {
      top: 20.3rem;
    }
    *:global(#troca-de-gestao-07) & {
      top: 13.5rem;
    }
    *:global(#tem-uma-pessoa-no-hospital-que-08) & {
      top: 24.8rem;
    }
    *:global(#o-digital-e-o-novo-normal-09) & {
      top: 10.2rem;
    }
    *:global(#o-digital-e-o-novo-normal-10) & {
      top: 15.9rem;
    }
    *:global(#o-digital-e-o-novo-normal-11) & {
      top: 11rem;
    }
    *:global(#o-digital-e-o-novo-normal-12) & {
      top: 14.8rem;
    }
    *:global(#o-digital-e-o-novo-normal-13) & {
      top: 7.7rem;
    }
    *:global(#o-digital-e-o-novo-normal-14) & {
      top: 2rem;
    }
    *:global(#festival-miolo-mole-15) & {
      top: 32.2rem;
    }
    *:global(#entrada-pelo-tablet-16) & {
      top: 27.8rem;
    }
    *:global(#os-nossos-29-anos-17) & {
      top: 24.2rem;
    }
    *:global(#uma-nova-rede-de-palhacos-18) & {
      top: 21.8rem;
    }
    *:global(#programa-de-formacao-de-jovens-19) & {
      top: 17.8rem;
    }
    *:global(#boca-laaaarga-20) & {
      top: 15.2rem;
    }
    *:global(#impacto-br-social-21) & {
      top: 28.2rem;
    }
    *:global(#impacto-br-social-22) & {
      top: 16.7rem;
    }
    *:global(#impacto-br-social-23) & {
      top: 11.3rem;
    }
    *:global(#impacto-br-social-24) & {
      top: 10rem;
    }
    *:global(#impacto-br-social-25) & {
      top: 17.9rem;
    }
    *:global(#prestacao-de-contas-e-impacto-br-social-26) & {
      top: 7.3rem;
    }
    *:global(#recursos-arrecadados-27) & {
      top: 52.5rem;
    }
    // *:global(#origem-dos-recursos-28) & {
    //   top: 0rem;
    // }
    // *:global(#aplicacao-dos-recursos-29) & {
    //   top: 0rem;
    // }
    *:global(#a-equipe-30) & {
      top: 5rem;
    }
    // *:global(#parcerias-e-apoios-31) & {
    //   top: 0rem;
    // }
    // *:global(#parcerias-e-apoios-32) & {
    //   top: 0rem;
    // }
    // *:global(#parcerias-e-apoios-33) & {
    //   top: 0rem;
    // }
    // *:global(#parcerias-e-apoios-34) & {
    //   top: 0rem;
    // }
    *:global(#expediente-34) & {
      top: 14.4rem;
    }
  }
}

.people {
  display: block;
  position: absolute;
  transform: scale(1);
  transform-origin: bottom;
  transition: 0.2s ease-in-out;

  &[data-unique="true"] {
    width: 100%;
    max-width: unset;
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }

  @include mobile {
    bottom: 0;
    max-width: 65%;

    &:first-of-type {
      left: 0;
    }

    &:last-of-type {
      right: 0;
    }

    *:global(#sobre-br-viver-01) & {
      &[data-unique="true"] {
        width: 100%;
        max-width: unset;
      }
    }

    *:global(#tem-uma-pessoa-no-hospital-que-08) & {
      &:first-of-type {
        max-width: 32rem;
      }
      &:last-of-type {
        width: 25rem;
      }
    }

    *:global(#o-digital-e-o-novo-normal-09) & {
      &:first-of-type {
        left: 2.1rem;
        height: 24.7rem;
        width: 15.4rem;
      }
      &:last-of-type {
        width: 22rem;
      }
    }

    *:global(#o-digital-e-o-novo-normal-11) & {
      &:last-of-type {
        width: 19.7;
      }
    }

    *:global(#o-digital-e-o-novo-normal-12) & {
      &:last-of-type {
        width: 21.7rem;
      }
    }

    *:global(#o-digital-e-o-novo-normal-14) & {
      &:first-of-type {
        width: 21.7rem;
      }
      &:last-of-type {
        width: 20.4rem;
      }
    }
    *:global(#festival-miolo-mole-15) & {
      &:first-of-type {
        width: 18.7rem;
      }
      &:last-of-type {
        width: 27.9rem;
      }
    }
    *:global(#impacto-br-social-23) & {
      &:first-of-type {
        left: 2rem;
        width: 18.5rem;
      }
      &:last-of-type {
        width: 17.1rem;
      }
    }
    *:global(#impacto-br-social-24) & {
      &:first-of-type {
        width: 19.8rem;
      }
      &:last-of-type {
        width: 19.7rem;
      }
    }
  }

  // pessoas desktop
  @include desktop {
    right: 0;

    *:global(#sobre-br-viver-01) & {
      width: 34.5rem;
      right: 0;
      top: 4rem;
    }
    *:global(#delivery-besteirologico-06) & {
      &:first-of-type {
        top: -15rem;
        width: 28.3rem;
      }
      &:last-of-type {
        top: 12rem;
        width: 35rem;
        z-index: 1;
      }
    }
    *:global(#tem-uma-pessoa-no-hospital-que-08) & {
      &:first-of-type {
        top: -12rem;
        width: 31rem;
      }
      &:last-of-type {
        width: 37.6rem;
        top: 10rem;
        z-index: 1;
      }
    }
    *:global(#o-digital-e-o-novo-normal-09) & {
      &:first-of-type {
        top: 7rem;
        width: 22.2rem;
      }
      &:last-of-type {
        width: 33.8rem;
        top: 26rem;
        z-index: 1;
      }
    }
    *:global(#o-digital-e-o-novo-normal-10) & {
      &:first-of-type {
        top: 0;
        width: 38.6rem;
      }
      &:last-of-type {
        width: 35rem;
        bottom: 0;
        z-index: 1;
      }
    }
    *:global(#o-digital-e-o-novo-normal-11) & {
      &:first-of-type {
        right: 13rem;
        top: 5rem;
        width: 36rem;
        z-index: 1;
      }
      &:last-of-type {
        top: -5rem;
        right: 0;
        width: 24.1rem;
      }
    }
    *:global(#o-digital-e-o-novo-normal-12) & {
      &:first-of-type {
        top: 0;
        width: 30rem;
        z-index: 1;
      }
      &:last-of-type {
        bottom: 2rem;
        left: 6rem;
        width: 24.1rem;
        z-index: 1;
      }
    }
    *:global(#o-digital-e-o-novo-normal-13) & {
      &:first-of-type {
        width: 32.4rem;
        top: -5rem;
      }
      &:last-of-type {
        left: 0;
        top: 8.5rem;
        width: 29.4rem;
        z-index: 1;
      }
    }
    *:global(#o-digital-e-o-novo-normal-14) & {
      &:first-of-type {
        top: -5rem;
        width: 27.4rem;
      }
      &:last-of-type {
        left: 0;
        top: 7.6rem;
        width: 35rem;
        z-index: 1;
      }
    }
    *:global(#festival-miolo-mole-15) & {
      &:first-of-type {
        top: 13.4rem;
        width: 28.7rem;
      }
      &:last-of-type {
        top: 40rem;
        width: 32.7rem;
        z-index: 1;
      }
    }
    *:global(#os-nossos-29-anos-17) & {
      &:first-of-type {
        top: -2rem;
        width: 29.7rem;
      }
      &:last-of-type {
        top: 23.8rem;
        width: 31.2rem;
        z-index: 1;
      }
    }
    *:global(#uma-nova-rede-de-palhacos-18) & {
      &:first-of-type {
        top: 2rem;
        width: 31rem;
      }
      &:last-of-type {
        top: 23rem;
        width: 33rem;
        z-index: 1;
      }
    }
    *:global(#impacto-br-social-22) & {
      &:first-of-type {
        top: 2.8rem;
        width: 28rem;
      }
      &:last-of-type {
        top: 24.5rem;
        width: 31.5rem;
        z-index: 1;
      }
    }
    *:global(#impacto-br-social-23) & {
      &:first-of-type {
        top: 0;
        width: 24.5rem;
      }
      &:last-of-type {
        top: 24rem;
        width: 23.4rem;
        z-index: 1;
      }
    }
    *:global(#impacto-br-social-24) & {
      &:first-of-type {
        top: 6rem;
        width: 30rem;
      }
      &:last-of-type {
        top: 31rem;
        width: 29rem;
      }
    }
    *:global(#prestacao-de-contas-e-impacto-social-26) & {
      &:first-of-type {
        top: 3.6rem;
        width: 31.9rem;
      }
      &:last-of-type {
        top: 25.8rem;
        width: 36rem;
      }
    }
  }

  &[data-front="true"] {
    z-index: 1;
  }
}

.overlay {
  mix-blend-mode: multiply;
  position: absolute;
  z-index: 2;

  @include mobile {
    bottom: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
  }

  *:global(#sobre-br-viver-01) & {
    top: 21rem;
  }

  @include desktop {
    right: 0;

    *:global(#delivery-besteirologico-06) & {
      width: 22rem;
    }
    *:global(#tem-uma-pessoa-no-hospital-que-08) & {
      bottom: 7rem;
      width: 19.3rem;
    }
    *:global(#o-digital-e-o-novo-normal-09) & {
      bottom: 10rem;
      width: 27.4rem;
    }
    *:global(#o-digital-e-o-novo-normal-10) & {
      bottom: 0rem;
      width: 41.8rem;
    }
    *:global(#o-digital-e-o-novo-normal-11) & {
      top: 23rem;
      width: 20.7rem;
    }
    *:global(#o-digital-e-o-novo-normal-12) & {
      top: 21rem;
      width: 28.2rem;
    }
    *:global(#o-digital-e-o-novo-normal-13) & {
      top: 26.6rem;
      width: 30.8rem;
    }
    *:global(#o-digital-e-o-novo-normal-14) & {
      top: 18.1rem;
      width: 28.8rem;
    }
    *:global(#festival-miolo-mole-15) & {
      top: 60rem;
      width: 37.8rem;
    }
    *:global(#os-nossos-29-anos-17) & {
      top: 30rem;
      width: 37.8rem;
    }
    *:global(#uma-nova-rede-de-palhacos-18) & {
      top: 45rem;
      width: 37.5rem;
    }
    *:global(#impacto-br-social-22) & {
      top: 15rem;
      width: 34.6rem;
    }
    *:global(#impacto-br-social-23) & {
      top: 30.8rem;
      width: 30.8rem;
    }
    *:global(#impacto-br-social-24) & {
      top: 27.6rem;
      width: 23rem;
    }
    *:global(#prestacao-de-contas-e-impacto-social-26) & {
      top: 35rem;
      width: 35.3rem;
    }
  }
}
