.article {
  height: 100%;
  overflow: hidden auto;
  position: relative;
  width: 100%;

  &[data-extra="true"] {
    overflow: hidden;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
