@import "../../../styles/globals/resources";

.article {
  height: 100%;
  position: relative;
  width: 100%;

  @include mobile {
    overflow: hidden auto;

    &[data-extra="true"] {
      overflow: hidden;
    }
  }

  @include desktop {
    margin: 0 auto 17rem;

    &:first-child {
      margin: 0 auto 6%;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include desktop {
    padding-left: var(--desktop-left-padding);
  }
}

*:global(#cover) .content {
  @include desktop {
    padding-left: 0;
  }
}
