@import "../../../styles/globals/resources";

.article {
  border: 1px solid;
  height: 100%;
  position: relative;
  width: 100%;
  
  @include mobile { 
    overflow: hidden auto;
    
    &[data-extra="true"] {
      overflow: hidden;
    }
  }

  @include desktop {
    margin: auto;
    max-width: 120rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
