@import "../../styles/globals/resources.scss";

.wrapper {
  --overlay-duration: 0.5s;
  --extra-duration: 1s;
  display: block;
  
  @include mobile {
    --overlay-size: calc(100vw - 4rem);

    &[data-close="true"]  {
      animation-name: wrapperOut;
      animation-duration: 0.1s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }
  }


}

.extra {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  border-radius: 3rem;
  border: 0;
  box-sizing: content-box;
  color: var(--carbon);
  display: grid;
  font-weight: 700;
  gap: 2rem;
  grid-template: 1fr / 100%;
  grid-auto-flow: row;
  justify-items: end;
  left: 50%;
  padding: 3rem;
  position: absolute;
  text-align: center;
  top: 50%;
  word-break: break-word;
  z-index: 100;
  
  
  @include mobile {
    transform: rotate(0deg);
    width: 75%;

    [data-open="true"] & {
      animation-name: mobileIn;
    }

    [data-close="true"] & {
      animation-name: mobileOut;
    }

  }

  @include desktop {
    transform: translate(100vw, -50%) rotate(0deg);
    width: 28.3rem;

    [data-open="true"] & {
      animation-name: desktopIn;
    }
    [data-close="true"] & {
      animation-name: desktopOut;
    }
  }
}


.conteudo {
  background-color: var(--theme-color);
  border-radius: 3rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  
  
  a {
    text-decoration: underline !important;
  }

  img {
    max-height: 100%;
  }
  
  p {
    color: inherit;
    font-family: var(--font-vag-rounded);
    line-height: 158%;

    @include desktop {
      font-size: 1.7rem;
      line-height: 2.7rem;
    }
  }

  h4 {
    font-family: var(--font-simples-basic);
    font-size: 3.2rem;
    margin: 0 0 1.5rem;

    @include desktop {
      font-size: 4rem;
      line-height: 3.8rem;
      margin: 0 0 2.2rem;
    }
  }
}

.button {
  background: transparent;
  border: 0;
  color: var(--theme-color);
  cursor: pointer;
  font-size: 4rem;
  font-weight: 100;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 100;
}


@keyframes mobileIn {
  0% {
    background: rgba(255,255,255,0);
    box-shadow: none;
    transform: translate(-50%, 150vh) rotate(0deg);
  }
  50% {
    background: rgba(255,255,255,0);
    box-shadow: none;
    transform: translate(-50%, -60%) rotate(720deg);
  }
  100% {
    background: rgba(255,255,255,0.95);
    box-shadow: 5px 5px 5px rgba(0,0,0,5%);
    transform: translate(-50%, -60%) rotate(720deg);
  }
}
@keyframes mobileOut {
  0% {
    background: rgba(255,255,255,0.95);
    box-shadow: 5px 5px 5px rgba(0,0,0,5%);
    transform: translate(-50%, -60%) rotate(720deg);
    display: grid;
  }
  10% {
    background: rgba(255,255,255,0.95);
    box-shadow: 5px 5px 5px rgba(0,0,0,0);
    transform: translate(-50%, -60%) rotate(720deg);
    display: grid;
  }
  30% {
    background: rgba(255,255,255,0);
    box-shadow: 5px 5px 5px rgba(0,0,0,0);
    transform: translate(-50%, -60%) rotate(720deg);
    display: grid;
  }
  100% {
    background: rgba(255,255,255,0);
    box-shadow: 5px 5px 5px rgba(0,0,0,0);
    transform: translate(-50%, 150vh) rotate(0deg);
    display: none;
  }
}

@keyframes desktopIn {
  0% {
    background: rgba(255,255,255,0);
    box-shadow: none;
    transform: translate(100vw, -50%) rotate(0deg);
  }
  70% {
    background: rgba(255,255,255,0);
    box-shadow: none;
    transform: translate(-50%, -50%) rotate(720deg);
  }
  90% {
    background: rgba(255,255,255,0.95);
    box-shadow: none;
    transform: translate(-50%, -50%) rotate(720deg);
  }
  100% {
    background: rgba(255,255,255,0.95);
    box-shadow: 5px 5px 5px rgba(0,0,0,5%);
    transform: translate(-50%, -50%) rotate(720deg);
  }
}
@keyframes desktopOut {
  0% {
    background: rgba(255,255,255,0.95);
    box-shadow: 5px 5px 5px rgba(0,0,0,5%);
    transform: translate(-50%, -50%) rotate(720deg);
  }
  10% {
    background: rgba(255,255,255,0.95);
    box-shadow: 5px 5px 5px rgba(0,0,0,0);
    transform: translate(-50%, -50%) rotate(720deg);
  }
  30% {
    background: rgba(255,255,255,0);
    box-shadow: 5px 5px 5px rgba(0,0,0,0);
    transform: translate(-50%, -50%) rotate(720deg);
  }
  100% {
    background: rgba(255,255,255,0);
    box-shadow: 5px 5px 5px rgba(0,0,0,0);
    transform: translate(100vw, -50%) rotate(0deg);
  }
}

@keyframes wrapperOut {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
