@import "../../../../styles/globals/resources.scss";

.listaEmpresas {
  color: var(--carbon);
  list-style: none;
  margin: 0;
  padding: 0;

  @include mobile {
    margin: 0 0 5rem;

    *:global(#parcerias-e-apoios-33) & {
      margin: 0;
    }
  }

  [data-tipo="imagem"] & {
    display: grid;
    display: subgrid;
    grid-auto-flow: row;
    gap: 3rem 0;
    grid-template: auto / 1fr 1fr;
    place-items: center;

    @include desktop {
      gap: 6rem 0;
    }
  }

  [data-destaque="false"] {
    padding: 0 3rem;
  }

  [data-destaque="true"] {
    grid-column: 1 / span 2;
    padding: 0 2rem;
  }
}

.link {
  display: block;
}

.logo {
  [data-destaque="true"] & {
    @include desktop {
      height: 7rem;

      img {
        height: 100%;
      }
    }
  }
}

.listaEmpresas[data-governamental="true"] {
  align-items: center;
  display: grid;
  grid-template: repeat(6, auto) / repeat(6, 1fr);
  margin-top: 8rem;

  @include desktop {
    gap: 6rem 2rem;
  }

  // incentivo a cultura
  li:first-child {
    grid-column: 1 / span 6;
    @include mobile {
      img {
        height: 5rem;
      }
    }
    @include desktop {
      img {
        height: 10rem;
      }
    }
  }

  // pref recife
  li:nth-child(2) {
    grid-column: 1 / span 6;

    @include mobile {
      img {
        height: 3.5rem;
      }
    }
    @include desktop {
      img {
        height: 7rem;
      }
    }
  }
  // funcultura
  li:nth-child(3) {
    grid-row: 3 / span 1;

    @include mobile {
      grid-column: 1 / span 1;
      img {
        height: 1.5rem;
      }
    }

    @include desktop {
      grid-column: 1 / span 2;
      img {
        height: 3rem;
      }
    }
  }
  // fundarpe
  li:nth-child(4) {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;

    @include mobile {
      img {
        height: 1.5rem;
      }
    }

    @include desktop {
      margin-left: 5rem;
      img {
        height: 3rem;
      }
    }
  }
  // secretaria saude pernambuco
  li:nth-child(5) {
    grid-row: 3 / span 1;

    @include mobile {
      grid-column: 4 / span 3;
      img {
        height: 3.7rem;
        object-fit: contain !important;
      }
    }
    @include desktop {
      grid-column: 4 / span 3;
      img {
        height: 8rem;
      }
    }
  }
  // prefeitura rio
  li:nth-child(6) {
    grid-row: 4 / span 1;
    justify-self: end;

    @include mobile {
      justify-self: start;
      grid-column: 1 / span 6;
      img {
        height: 4rem;
      }
    }
    @include desktop {
      grid-column-end: span 2;
      img {
        height: 8rem;
      }
    }
  }
  // saúde rio
  li:nth-child(7) {
    grid-row: 4 / span 1;

    @include mobile {
      justify-self: start;
      grid-column: 1 / span 6;
      margin-left: 35%;
      img {
        height: 4rem;
      }
    }
    @include desktop {
      grid-column-end: span 2;
      img {
        height: 9rem;
      }
    }
  }
  // saúde rio
  li:nth-child(8) {
    // justify-self: start;
    grid-row: 4 / span 1;

    @include mobile {
      justify-self: end;
      grid-column: 1 / span 6;
      img {
        height: 4rem;
      }
    }
    @include desktop {
      grid-column-end: span 2;
      img {
        height: 8rem;
      }
    }
  }
  // fumcad
  li:nth-child(9) {
    grid-column-end: span 3;
    justify-self: flex-end;
    margin-right: 5rem;

    @include mobile {
      img {
        height: 6rem;
      }
    }
    @include desktop {
      img {
        height: 11rem;
      }
    }
  }
  // cmdca
  li:nth-child(10) {
    grid-column-end: span 3;
    justify-self: flex-start;
    margin-left: 5rem;

    @include mobile {
      img {
        height: 6rem;
      }
    }
    @include desktop {
      img {
        height: 11rem;
      }
    }
  }
  // PROAC
  li:nth-child(11) {
    grid-column-end: span 3;

    @include mobile {
      img {
        height: 3.5rem;
      }
    }
  }
  // Prefeitura SP
  li:nth-child(12) {
    grid-column-end: span 3;

    @include mobile {
      img {
        height: 5.5rem;
      }
    }
  }
  // Estado de SP
  li:nth-child(13) {
    grid-column-end: span 6;
    text-align: center;

    @include mobile {
      img {
        height: 5.5rem;
      }
    }
    @include desktop {
      img {
        height: 10.5rem;
        margin: auto;
      }
    }
  }
  li:last-child {
    grid-column-end: span 6;
    @include mobile {
      img {
        height: 3rem;
      }
    }
    @include desktop {
      img {
        height: 5.7rem;
      }
    }
  }
}

.img > * {
  width: 100%;
}
