@import "../../../../styles/globals/resources.scss";

.listaEmpresas {
  color: var(--carbon);
  list-style: none;
  margin: 0;
  padding: 0;
  
  @include mobile {
    margin: 0 0 5rem;
  }

  [data-tipo="imagem"] & {
    display: grid;
    display: subgrid;
    grid-auto-flow: row;
    gap: 3rem 0;
    grid-template: auto / 1fr 1fr;
    place-items: center;

    @include desktop {
      *:global(#parcerias-e-apoios-31) & {
        &:not([data-governamental="true"]) {
          display: flex;
          justify-content: center;
        }
      }
    }

  }

  [data-destaque="false"] {
    padding: 0 3rem;
  }

  [data-destaque="true"] {
    grid-column: 1 / span 2;
    padding: 0 2rem;

  }
}

.link {
  display: block;
}

.logo {
  [data-destaque="true"] & {
    @include desktop {
      height: 7rem;

      img {
        height: 100%;
      }
    }
  }
}

.listaEmpresas[data-governamental="true"] {
  align-items: center;
  display: grid;
  grid-template: repeat(6, auto) / repeat(6, 1fr);
  margin-top: 8rem;
  
  @include desktop {
    gap: 6rem 2rem;
  }

  li:first-child {
    grid-column: 1 / span 6;
    img { height: 10rem; }
  }
  // pref recife
  li:nth-child(2) {
    grid-column: 1 / span 6;
    img { height: 7rem; }
  }
  // funcultura
  li:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    img { height: 3rem; }
  }
  // fundarpe
  li:nth-child(4) {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    margin-left: 5rem;
    img { height: 3rem; }
  }
  // secretaria saude pernambuco
  li:nth-child(5) {
    grid-column-start: 4;
    grid-column-end: span 3;
    img { height: 8rem; }
  }
  // prefeitura rio
  li:nth-child(6) {
    grid-column-end: span 2;
    justify-self: end;
    img { height: 8rem; }
  }
  // saúde rio
  li:nth-child(7) {
    grid-column-end: span 2;
    img { height: 9rem; }
  }
  // saúde rio
  li:nth-child(8) {
    justify-self: start;
    grid-column-end: span 2;
    img { height: 8rem; }
  }
  // fumcad
  li:nth-child(9) {
    grid-column-end: span 3;
    justify-self: flex-end;
    margin-right: 5rem;
    img { height: 11rem; }
  }
  // cmdca
  li:nth-child(10) {
    grid-column-end: span 3;
    justify-self: flex-start;
    margin-left: 5rem;
    img { height: 11rem; }
  }
  // PROAC e Pref SP
  li:nth-child(n + 11):nth-child(-n + 12) {
    grid-column-end: span 3;
  }
  li:nth-child(13) {
    grid-column-end: span 6;
    text-align: center;
    width: 100%;
    img {
      height: 11rem;
    }
  }
  li:last-child {
    grid-column-end: span 6;
    height: 6rem;
  }
}

.img > * {
  width: 100%;
}
