.recharts-surface {
  overflow: visible;
}

#troca-de-gestao-07 {
  @include desktop {
    margin-bottom: 20rem;
  }
}

#o-digital-e-o-novo-normal-10 {
  @include desktop {
    margin-bottom: 33rem;
  }
}

#o-digital-e-o-novo-normal-11 {
  @include desktop {
    margin-bottom: 26.3rem;
  }
}

#o-digital-e-o-novo-normal-12 {
  @include desktop {
    h3:not(:first-child) {
      margin-top: 11rem;
    }
  }
}

#o-digital-e-o-novo-normal-13 {
  @include desktop {
    margin-bottom: 24.8rem;
  }
}

#festival-miolo-mole-15 {
  h3:not(:first-child) {
    margin-bottom: 7rem;
  }
}

#impacto-br-social-21 {
  @include desktop {
    margin-bottom: 7rem;
    h4 + p {
      display: none;
    }
  }
}

#impacto-br-social-22 {
  @include desktop {
    margin-bottom: 0;
  }
}
#impacto-br-social-23 {
  @include desktop {
    margin-bottom: 0;
  }
}
#impacto-br-social-24 {
  @include desktop {
    h3 {
      display: none;
    }
    margin-bottom: 0;
  }
}

#impacto-br-social-25 {
  @include desktop {
    margin-bottom: 15.5rem;

    h3 {
      display: none;
    }

    div:not(.html) + .html {
      margin-top: 4.5rem;
    }

    small {
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2em;
    }
  }
}

#recursos-arrecadados-27 {
  small {
    font-size: 3rem;

    @include mobile {
      font-size: 1.2rem;
    }

    @include desktop {
      line-height: 156%;
    }
  }
}

#origem-dos-recursos-28,
#aplicacao-dos-recursos-29 {
  & section > div:first-child {
    max-width: unset;
    padding-right: var(--desktop-left-padding);
    width: 100%;
  }
}

#parcerias-e-apoios-30 {
  margin-bottom: 6rem;

  h3 {
    margin-bottom: 7rem;
    width: 50%;
  }
}

#parcerias-e-apoios-31 {
  @include desktop {
    h2 {
      display: none;
    }
  }
}

#parcerias-e-apoios-32 {
  h3 {
    margin-bottom: 4rem;
    width: 70%;
  }

  @include desktop {
    margin-bottom: 7rem;

    h2 {
      display: none;
    }
  }
  h4 {
    margin-bottom: 3rem;
  }
}

#parcerias-e-apoios-33 {
  @include desktop {
    h2 {
      display: none;
    }
  }
}
