.recharts-surface {
  overflow: visible;
}

#festival-miolo-mole-15 {
  h3:not(:first-child) {
    margin-bottom: 7rem;
  }
}

#impacto-social-21 {
  h4 + p {
    background-color: red;
  }
  h4 {
    p {
      display: none;
    }
  }
}

#impacto-social-22 {
  @include desktop {
    margin-bottom: 0;
  }
}
#impacto-social-23 {
  @include desktop {
    margin-bottom: 0;
  }
}
#impacto-social-24 {
  @include desktop {
    h3 {
      display: none;
    }
    margin-bottom: 0;
  }
}

#impacto-social-25 {
  @include desktop {
    margin-bottom: 37rem;
    h3 {
      display: none;
    }
  }
}

#recursos-arrecadados-27 {
  small {
    font-size: 3rem;

    @include mobile {
      font-size: 1.2rem;
    }
  }
}

#origem-dos-recursos-28 {
  & > div > section {
    max-width: 120rem;
    width: 100%;
  }
}

#parcerias-e-apoios-30 {
  margin-bottom: 6rem;

  h3 {
    margin-bottom: 7rem;
    width: 50%;
  }
}

#parcerias-e-apoios-31 {
  @include desktop {
    h2 {
      display: none;
    }
  }
}

#parcerias-e-apoios-32 {
  h3 {
    margin-bottom: 4rem;
    width: 70%;
  }

  @include desktop {
    margin-bottom: 7rem;

    h2 {
      display: none;
    }
  }
  h4 {
    margin-bottom: 3rem;
  }
}

#parcerias-e-apoios-33 {
  @include desktop {
    h2 {
      display: none;
    }
  }
}
