.recharts-surface {
  overflow: visible;
}

#festival-miolo-mole-15 {
  h3:not(:first-child) {
    margin-bottom: 7rem;
  }
}

#impacto-social-21 h4 + p {
  display: none;
}

#impacto-social-22,
#impacto-social-23,
#impacto-social-24 {
  @include desktop {
  margin-bottom: 0;
  }
}

#impacto-social-24,
#impacto-social-25 {
  @include desktop {
    h3 {
      display: none;
    }
  }
}

#impacto-social-25 {
  @include desktop {
    margin-bottom: 37rem;
  }
}

#recursos-arrecadados-27 {
  small {
    font-size: 3rem;
  }
}

#origem-dos-recursos-28 {
  & > div > section {
    max-width: 120rem;
    width: 100%;
  }
}