@import "../../styles/globals/resources.scss";

.text {
  position: relative;

  > p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  small {
    display: block;
    font-size: 1.2rem;
    line-height: 1em;
    margin-bottom: 1em;
  }

  strong {
    font-weight: 700;
  }

  *:global(#parcerias-e-apoios-31) &,
  *:global(#parcerias-e-apoios-32) & {
    @include desktop {
      h3:first-child {
        margin-bottom: 7rem;
        width: 50%;
      }
    }
  }
}
