.text {
  > p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  h4 {
    // font-size: 2.2rem;
  }

  small {
    font-size: 1.2rem;
  }

  strong {
    font-weight: 700;
  }

  *:global(#parcerias-e-apoios-31) & {
    h3:first-child {
      margin-bottom: 7rem;
      width: 50%;
    }
  }
}