@import "../styles/globals/resources.scss";

.slickWrapper {
  height: 100%;
}

.logo {
  height: 22rem;
}

// NUMBER SLIDES

.numberSlide {
  section h4 {
    @include mobile {
      font-size: 2.2rem;
      margin: 2.9rem 0 1rem;

      &:first-child {
        margin: 0 0 1.1rem;
      }
    }
    @include desktop {
      font-size: 4.2rem;
      margin: 5.5rem 0 2rem;
    }
  }

  p {
    @include mobile {
      margin: 0;
    }
  }

  @include desktop {
    &:global(#impacto-br-social-23) {
      h4:first-child {
        display: none;
      }
    }
  }
}

.fourOuFour {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  h1 {
      color: #FF3732;
      font-family: var(--font-simples-circo);
      font-size: 5rem;
      line-height: 1;
      margin: 0 0 1rem;
  }

  p {
    font-size: 2.7rem;
    margin: 0 auto;
    text-align: center;
    width: 30rem;
  }

  img {
    margin: 1.2rem auto 0;

    @include mobile {
      padding-top: 2rem;
      max-height: 65vh;
    }
    @include desktop {
      max-height: 70vh;
    }
  }
}