@import "../styles/globals/resources.scss";

.slickWrapper {
  height: 100%;
}

// NUMBER SLIDES

.numberSlide {
  h4 {
    @include desktop {
      font-size: 4.2rem;
      margin: 5.5rem 0 2rem;
    }
  }

  &:global(#impacto-social-23) {
    h4:first-child {
      display: none;
    }
  }
}



// GRAPHS

