@import "../../../styles/globals/resources.scss";

.label {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0 0 2rem;

  @include desktop {
    font-size: 4.2rem;
    margin-bottom: 3rem;

    &[data-hide-desktop="true"] {
      display: none;
    }
  }
}

.numberGrid {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto / repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem 0 3rem;

  @include desktop {
    grid-template: auto / repeat(3, 1fr);
    gap: 7rem 0;
    align-items: end;
    justify-content: center;

    &:last-child {
      margin-bottom: 0;
    }

    + label {
      margin-top: 5.5rem;
    }
  }
}

.numberElement {
  display: flex;
  flex-direction: column;
  line-height: 1;

  @include mobile {
    &[data-size="grande"] {
      grid-column-end: span 2;

      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }

  @include desktop {
    border-bottom: 0.2rem solid var(--azul);
    padding-bottom: 0.5rem;

    &[data-size="grande"] {
      grid-column-start: 1;
    }

    &:nth-child(n + 8):nth-child(-n + 9) {
      align-self: start;
      border-bottom: 0;
    }
  }
}

.numberLabel {
  font-weight: 700;
  line-height: 1.25em;
  margin: 0;

  [data-size="grande"] & {
    font-size: 2.2rem;
  }

  @include desktop {
    font-size: 3.2rem;
    white-space: nowrap;

    [data-size="grande"] & {
      font-size: 4.2rem;
      white-space: unset;
    }
  }
}

.number {
  color: var(--azul);
  font-family: var(--font-simples-basic);
  font-size: 3.2rem;
  margin: 0.4rem 0 0;

  [data-size="grande"] & {
    font-size: 5rem;
  }

  @include mobile {
    align-items: end;
    display: flex;
    line-height: 0.9em;
  }

  @include desktop {
    font-size: 6rem;
    line-height: 1em;
    margin: 2.4rem 0 0;

    [data-size="grande"] & {
      font-size: 8rem;
    }
  }
}

.unit {
  color: var(--carbon);
  font-family: var(--font-vag-rounded);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0 !important;
  margin-left: 1ch;

  &:empty {
    display: none;
  }

  @include mobile {
    display: inline;
  }

  @include desktop {
    display: none !important;
  }
}

[data-presencial="true"] {
  @include desktop {
    grid-template: auto / 30rem repeat(3, minmax(auto, max-content));
    gap: 3rem 0;

    .numberElement {
      &:not([data-size="grande"]):not(.comment) {
        padding-left: 3rem;
      }
      &[data-size="grande"]:last-child {
        border-bottom: 0;
      }
    }
  }

  .comment {
    grid-column: 2 / span 3;
    > p {
      margin: 0;
    }

    @include mobile {
      display: none;
    }
  }

  .number {
    color: var(--carbon);
    font-family: var(--font-simples-inline);
    line-height: 1em;

    small {
      font-size: 1.5rem;
    }
  }

  [data-size="grande"] .number {
    color: var(--azul);
  }
}
