@import "../../../styles/globals/resources.scss";

.section {
  &[data-tipo="imagem"] {
    @include mobile {
      grid-column: 1 / span 2;
    }

    @include desktop {
      grid-column-end: span 1;

      *:global(#parcerias-e-apoios-31) & {
        grid-column-end: span 2;
        @include desktop {
          grid-column-end: span 1;
        }
      }
      *:global(#parcerias-e-apoios-32) & {
        grid-column-end: span 2;
      }
    }
  }
}

.tituloCategoria {
  color: var(--theme-color);
  font-weight: 700;
  margin: 0 0 1.6rem;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1;

  @include mobile {
    *:global(#parcerias-e-apoios-33) & {
      text-align: left;
    }
  }

  @include desktop {
    font-size: 4.3rem;
    margin-bottom: 4rem;

    [data-tipo="texto"] & {
      text-align: left;
    }

    *:global(#parcerias-e-apoios-32) & {
      width: 60%;
    }
  }
}
