@import "../../../styles/globals/resources.scss";

.section {
  &[data-tipo="imagem"] {
    grid-column: 1 / span 2;

    @include desktop {
      grid-column-start: unset;
      grid-column-end: span 1;
    }
  }
}

.tituloCategoria {
  color: var(--theme-color);
  font-weight: 700;
  margin: 0 0 1.6rem;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1;
}
