@import "../../../../styles/globals/resources.scss";

.graph {
  height: 20rem;
  font-weight: 700;
  width: 100%;
  margin-bottom: 3rem;

  @include desktop {
    height: 70vh;
  }
}

.origens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.legenda {
  color: var(--theme-color);
  display: flex;
  flex-direction: column;
}

.legendaValor {
  align-self: start;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 0.5rem solid var(--theme-color);
  margin: 0;
}

.legendaOrigem {
  color: var(--carbon);
  font-size: 1.7rem;
  line-height: 1;
  margin: 0.5 0 0;
}
