.section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  color: var(--themeColor);
  font-family: var(--font-simples-circo);
  font-size: 5rem;
  line-height: calc(43 / 50);
  margin: 0 0 2.4rem;
}

.content {
  flex-grow: 1;
  padding: 3rem 3rem 0;
}

.text {
  flex-grow: 1;
}
