.section {
  min-height: 100vh;
  display: grid;
  grid-template: min-content auto / 100%;
}

.title {
  color: var(--theme-color);
  font-family: var(--font-simples-circo);
  font-size: 4.3rem;
  line-height: 1;
  margin-bottom: 2.6rem;
}

.text {
  font-weight: 300;

  > p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.content {
  padding-left: 4.6rem;
  padding-right: 4.6rem;
}

.rodape {
  align-self: end;
  position: relative;

  > *:not(.bg) {
    position: absolute;
    bottom: 0;
  }
}
