@import "../../styles/globals/resources.scss";

.section {
  display: flex;
  flex-direction: column;
  position: relative;

  &[data-extra="true"] {
    overflow: hidden;
  }

  @include mobile {
    min-height: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 4.6rem;
  margin-bottom: 2.6rem;

  @include desktop {
    margin: 0 0 4.4rem;
  }
}

.title {
  color: var(--theme-color);
  font-family: var(--font-simples-circo);
  font-size: 4.3rem;
  line-height: 1;
  margin: 0;

  @include desktop {
    font-size: 10rem;
    line-height: 1em;

    [data-hide-desktop="true"] & {
      display: none;
      visibility: hidden;
    }
  }
}

.content {
  flex-grow: 1;

  @include mobile {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include desktop {
    width: 70%;
    max-width: 92rem;
  }
}
