@import "../../../../styles/globals/resources.scss";

.lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0 0 5rem 0;
  padding: 0;

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.legenda {
  color: var(--theme-color);
  display: flex;
  flex-direction: column;
}

.legendaValor {
  align-self: start;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 0.5rem solid var(--theme-color);
  margin: 0;

  @include desktop {
    font-size: 2.8rem;
  }
}

.legendaNome {
  color: var(--carbon);
  font-size: 1.7rem;
  line-height: 1;
  margin: 0.5rem 0 0;

  @include desktop{
    font-size: 3rem;
  }
}
