.grid {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto / 1fr 1f;
}

.section {
  &[data-tipo="imagem"] {
    grid-column: 1 / span 2;
  }
}

.tituloCategoria {
  color: var(--theme-color);
  font-weight: 700;
  margin: 0 0 1.6rem;
  text-align: center;
}

.listaEmpresas {
  color: var(--carbon);
  list-style: none;
  margin: 0;
  padding: 0;

  li:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}