@import "../../../styles/globals/resources.scss";

.wrapper {
  height: 17.5rem;
  position: relative;
}

.gradient {
  height: 17.5rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &:after,
  &:before {
    height: 17.5rem;
    position: absolute;
    top: 0;
    width: 2rem;
    z-index: 1;
  }

  &:before {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    left: 0;
  }

  &:after {
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    right: 0;
  }

  &[data-begin="false"] {
    &:before {
      content: "";
    }
  }
}

.scroll {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  height: 17.5rem;
  width: 100%;

  @include mobile {
    margin-bottom: 3rem;
    margin-left: 0rem;
    margin-right: -6rem;
  }
}

.content {
  display: flex;
  gap: 7rem;
  position: relative;
  overflow: auto hidden;

  @include mobile {
    position: absolute;
  }
}

.categoria {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}

.gallery {
  align-items: center;
  display: grid;
  gap: 4rem;
  grid-auto-columns: minmax(15rem, auto);
  grid-auto-flow: column;
  height: 100%;
  list-style: none;
  margin: 0 4rem 0 0;
  padding: 0;
}
