@import "../../../styles/globals/resources.scss";

#cover {
  overflow-y: hidden;
}

.cover {
  height: 100%;
  overflow: hidden;

  @include desktop {
    background-image: unset;
    height: 100%;
    margin-left: -11%;
    margin-top: 23rem;
  }
}

.title {
  color: var(--vermelho);
  font-family: "Dalegria Simples Basic";
  font-size: 5rem;
  line-height: 1em;
  margin: 1.8rem 2.3rem 1rem auto;
  text-align: right;
}

.logo {
  align-self: end;
  height: 9.6rem;
  margin-left: auto;
  overflow: visible;
  width: 9.6rem;
}

.wrapper {
  --height: 95vh;

  bottom: 0;
  height: var(--height);
  left: 0;
  position: absolute;
  width: 100%;
}

.gradient {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &:after,
  &:before {
    height: 100%;
    position: absolute;
    top: 0;
    width: 2rem;
    z-index: 1;
  }

  &:before {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    left: 0;
  }

  &:after {
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    right: 0;
  }

  &[data-begin="false"] {
    &:before {
      content: "";
    }
  }
}

.scroll {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.content {
  display: flex;
  height: var(--height);
  width: calc(1.923 * var(--height));
  animation-name: Snudge;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes Snudge {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.image {
  @include mobile {
    display: none;
  }
  @include desktop {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}
