@import "../../../styles/globals/resources.scss";

.cover {
  background-image: url("../../../../static/images/cover_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  
  @include desktop {
    background-image: unset;
    height: 100vh;
    margin-left: -11%;
  }
}

.title {
  color: var(--vermelho);
  font-family: "Dalegria Simples Basic";
  font-size: 5rem;
  line-height: 1em;
  margin: 2.6rem 2.3rem 1rem auto;
  text-align: right;
}

.logo {
  align-self: end;
  margin-left: auto;
}

.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}