@import "../../../styles/globals/resources.scss";

.slide {
  --theme-color: var(--vermelho);
  padding: 0;
}

.button {
  position: fixed;
  top: 8.4rem;
  z-index: 100;
}

.cover {
  height: 100vh;
  overflow: hidden;

  @include mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 5rem auto 1fr;
    justify-items: flex-end;
    margin-top: 2.6rem;
    z-index: 100;
  }

  @include desktop {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: var(--desktop-left-padding) 6.8rem 1fr var(--desktop-left-padding);
    grid-template-rows: 3.1rem auto auto 1fr;
    grid-template-areas:
      ". menu ."
      ". . titulo"
      ". . logo";
  }
}

.hero {
  @include mobile {
    grid-row: 2 / span 3;
    grid-column: 1 / span 1;
  }

  @include desktop {
    align-self: flex-end;
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
  }
}

.title {
  color: var(--vermelho);
  font-family: "Dalegria Simples Basic";
  font-size: 5rem;
  line-height: 1em;
  text-align: right;

  @include mobile {
    margin: 0 2.4rem 0 0;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    width: 50%;
    z-index: 100;
  }
  
  @include desktop {
    margin-top: 14rem;
    grid-area: titulo;
  }
}

.logo {
  align-self: flex-end;
  height: 9.6rem;
  margin-left: auto;
  overflow: visible;
  width: 9.6rem;

  @include mobile {
    grid-column: 1 / 2;
    grid-row: 3 / span 1;
  }

  @include desktop {
    grid-area: logo;
  }

}

.image {
  
  img {
    height: 100%;
  }
}

.wrapper {
  --height: 90vh;

  bottom: 0;
  height: var(--height);
  left: 0;
  position: absolute;
  width: 100%;
}

.gradient {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &:after,
  &:before {
    height: 100%;
    position: absolute;
    top: 0;
    width: 2rem;
    z-index: 1;
  }

  &:before {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    left: 0;
  }

  &:after {
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    right: 0;
  }

  &[data-begin="false"] {
    &:before {
      content: "";
    }
  }
}

.scroll {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.content {
  align-items: flex-end;
  display: flex;
  height: var(--height);
  width: calc(1.923 * var(--height));
  animation-name: Snudge;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  > div {
    align-self: flex-end;
  }
}

@keyframes Snudge {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}