.wrapper {
  width: 100%;
  overflow: hidden;
}

.gallery {
  list-style: none;
  margin: 0 0 4rem;
  padding: 0;

  display: grid;
  grid-template-rows: 12rem;
  grid-auto-columns: minmax(12rem, auto);
  grid-auto-flow: column;
  gap: 3.5rem;
  align-items: center;
  overflow: auto hidden;
}